h1 {
  text-align: center;
  color: black;
}

h2 {
  text-align: center;
  color: #444444;
}

p {
  text-align: center;
  color: #666666;
}

.body {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.logo {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.badges {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
}

.badge {
  display: flex;
  padding: 20px;
}
